<a href="https://colab.research.google.com/github/vanditasharma777/PYTHON_Programming/blob/main/Functions1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Functions")

Functions

In [ ]:
def f1(): 
  '''to prit a value'''
  print("JRF")
f1()

JRF

 Functions are of 2 types 
1. User Defined 
2. Built-in

1. abs() function:- It returns the absolute value of the specified number.

In [ ]:
x = abs(-4.5)
x

4.5

In [ ]:
x = abs(3+5j)
x

5.830951894845301

2. all():- Returns True if all items in an iterable are true, otherwise it will return  false.

In [ ]:
List1 = [True,True, True]
x = all(List1)
x

True

3. ascii():- It returns a readable version  of any object(strings, tuples, Lists etc).

In [ ]:
y = ascii("I'm I$dia'")
y

'"I\'m I$dia\'"'

4. bool():- returns boolean value of a specified function.

In [ ]:
a = bool(1)
c = bool(0)
a, c

(True, False)

5. enumerate() :- takes a collection(eg.tuple) and returns it as an enumerate object.

In [ ]:
a1 = ('apple', 'grapes', 'cherry')
y = list(enumerate(a1))
y

[(0, 'apple'), (1, 'grapes'), (2, 'cherry')]

6. **format():**- It formats a specified value into a specified format.

1.:<		Left aligns the result (within the available space)
2. :>		Right aligns the result (within the available space)
3. :^		Center aligns the result (within the available space)
4. :=		Places the sign to the left most position
5. :+		Use a plus sign to indicate if the result is positive or negative
6. :-		Use a minus sign for negative values only
7. : 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
8. :,		Use a comma as a thousand separator
9. :_		Use a underscore as a thousand separator
10. :b		Binary format
11. :c		Converts the value into the corresponding unicode character
12. :d		Decimal format
13. :e		Scientific format, with a lower case e
14. :E		Scientific format, with an upper case E
15. :f		Fix point number format
16. :F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)
17. :g		General format
18. :G		General format (using a upper case E for scientific notations)
19. :o		Octal format
20. :x		Hex format, lower case21
21. :X		Hex format, upper case
22. :n		Number format
23. :%		Percentage format

In [ ]:
p = format(0.5, "%")
p

'50.000000%'

**7. i. getattr():-** returns the value of the specified attribute from the specified object.
**ii. setattr():-** sets the value of the specified attribute of the specified object.

In [ ]:
class person:
  name = "JRF"
  age = "25"
  Country = "India"
x1 = getattr(person, 'age')
x1

'25'

In [ ]:
class person:
  name = "JRF"
  age = 25
  Country = "India"
s1 = setattr(person, 'age', 21)
print(s1)

None

**8. id()** :- it returns a unique id for the specified object.

In [ ]:
x2 = {'1','2','3','4'}
id(3), id(2)

(11256128, 11256096)

**9. len():-** returns the number of items in an object.

In [ ]:
x3 = ('2','4','6','8','10','12')
len(x3), len('Hello')

(6, 5)

**10. map():**- It executes a specified function for each item in a iterable. The item is send to the function as a parameter.

In [ ]:
def myf(n):
  return len(n)
x5 = map(myf,['hello','calm','pretty'])
print(list(x5))

[5, 4, 6]

**11. min():-** It returns the item with lowest value, or the item with the lowest value in an iterable.

In [ ]:
x6 = min('a','b','c','1','2')
x7 = min('a','e','i','o','u')
x6,x7

('1', 'a')

12.pow():- It returns the value of x power to y(x^y).

In [ ]:
pow(3,4)

81

In [ ]:
pow(2,3,3) #if there are 3 parameters, it will return (x^y)%z

2

**12. print():-** It print the specified message to the screen or standard output device.

In [ ]:
print("Hello World")

Hello World

**13. Sorted():-** It returns a sorted list of specified iterable object.

In [ ]:
x8 = ['a','g','j','w','u','l','q','s']
x9 = sorted(x8) 
print(x9)

['a', 'g', 'j', 'l', 'q', 's', 'u', 'w']

14. type():- It returns type of the specified object.

In [ ]:
a = ('1','2','3','4','5')
c = "GoToHell"
d = 34
type(a), type(c), type(d)

(tuple, str, int)

*`*USER DEFINED FUNCTION *

In [ ]:
def myf1(x):
   return (x*5)
print(myf1(3))

15